.container {
    margin: 20px auto;
    width: 100%;
    font-family: Arial, sans-serif;
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;
  }
  
  thead {
    background-color: #3f3f3f;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  
}